<nav class="mobile-menu">
    <div class="mobile-menu-item">
    	<a class="home" href="#"></a>
    	<div class="menu-burger"><span class="menu-burger-item"></span></div>
        <ul style="clear: both">
			<!-- <li><a href="#">Главная</a></li> -->
			<li><a href="#ransom">Выкуп</a></li>
			<li><a href="#">В продаже</a></li>
			<li><a href="#">Контакты</a></li>
		</ul>
		<div class="language">
			<a href="#">RU</a>
			<a href="#">EN</a>
			<a href="#">UA</a>
		</div>
    </div>
</nav>
<header id="header">
	<div class="wrapper">
		<a href="#" class="logo"><img src="../img/logo.png" alt=""></a>
		<div class="language">
			<a href="#">RU</a>
			<div class="language-all">
				<a href="#">EN</a>
				<a href="#">UA</a>
			</div>
		</div>
		<nav class="header-menu">
			<ul>
				<li class="home"><a href="#"></a></li>
				<li><a href="#ransom">Выкуп</a></li>
				<li><a href="#">В продаже</a></li>
				<li><a href="#">Контакты</a></li>
			</ul>
		</nav>
		<div class="menu-burger"><span class="menu-burger-item"></span></div>
	</div>
</header>